<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Note App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js" integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous" defer></script>
  
  <script src="scripts/controllers/note-controller.js" type="module"></script>
  
  <link rel="shortcut icon" type="image/png" href="styles/pics/pro1ico.jpg"/>
  <link rel="stylesheet" href="styles/index.css">

</head>
<body>

    {{{body}}}

</body>
</html>