  <div class="container">
    <div class="flexleft">
      <div class="button tognew">Create new todo</div>
    </div>
    <div class="flexright">
      <form class="formbox" action='/logout' method='post'>
        <button class="button">LogOut</button>
      </form>
      <div id="togstyle" class="button">Toggle Style</div>
    </div>
  </div>

  <div class="container">
    <div class="flexleft">
      <div data-sortway="title" data-highlow="1" id="sorttitle" class="button sorter">By Name</div>
      <div data-sortway="due" data-highlow="1" id="sortdue" class="button sorter">By Due Date</div>
      <div data-sortway="created" data-highlow="1" id="sortcreated" class="button sorter">By Creation Date</div>
      <select data-sortway="importanceInt" id="sortimportanceInt" class="button">
        <option value="none" class="button">Importance</option>
        <option value="0" class="button">Highest First</option>
        <option value="1" class="button">Lowest First</option>
      </select>
    </div>
    <div class="flexright">
      <div id="sortcompleted" class="button">Filter Completed</div>
    </div>
  </div>

  <div id="todolist" class="vertcontainer">

  </div>

  <form id="todoform" class="vertcontainer hide">

    <input id="id" type="text" hidden>

    <div class="marginstopbot">
      <label class="formlabel" for="formtitle">Title</label>
      <input id="formtitle" class="forminput" type="text" required>
    </div>

    <div class="marginstopbot">
      <label class="formlabel" for="formimportance">Importance</label>
      <input id="formimportance" class="forminput" type="number" required min="1" max="5">
    </div>

    <div class="marginstopbot">
      <label class="formlabel" for="formduedate">Due Date</label>
      <input id="formduedate" class="forminput" type="date" required>
    </div>

    <div class="marginstopbot">
      <input id="formfinished" type="checkbox">
      <label class="formlabel" for="formfinished">Finished</label>
    </div>

    <div class="marginstopbot">
      <label class="formlabel" for="formdescription">Description</label>
      <textarea id="formdescription" class="forminput"></textarea>
    </div>

    <div class="flexleft">
      <button id="saveedit" class="button leftbutton hide">Save Changes</button>
      <button id="deleteedit" class="button leftbutton hide tognew">Delete Note</button>
      <button id="create" class="button leftbutton" type="submit">Create</button>
      <button id="createoverview" class="button leftbutton tognew" type="submit">Create & Overview</button>
      <div class="button leftbutton tognew">Overview</div>
    </div>
  
  </form>

<div id="customalert">
  <div id="alerthouse" class="">
    <div id="alertmark" class=""></div>
    <p id="alerttext">Todo Created Succesfully</p>
  </div>
</div>

{{#unless loggedin}}
  <div id="loggedin" hidden>false</div>
  <div id="logcover" class="cover">
    <div class="insidecover vertcontainer">
      <p class="coverp">You have to be logged in to use this app</p>
      <p class="coverp">Sign-in Or Register Below</p>
      <form class="logform" id="loginform" action='/login' method='post'>
        <input placeholder="backref" type="hidden" name="_backref" value="{{backref}}">
        <input id="usernameinput" class="forminput" placeholder="name" type="text" name="name" required>
        <input id="passwordinput" class="forminput" placeholder="password" type="password" name="pwd" required>
        <input id="loginsub" class="forminput" type="submit" value="Login oder registrieren">
        <button id="logindemouser" class="forminput button" id="demouserbutton">Continue as DemoUser</button>
      </form>
    </div>
  </div>
   <script src="scripts/controllers/login-controller.js" type="module"></script>
{{/unless}}
{{#if loggedin}}
  <div id="loggedin" hidden>true</div>
{{/if}}